/* 调用定义的动画（传入实参name）*/
@keyframes myfadeIn {
  0% {
    opacity: 0;
    /*初始状态 透明度为0*/
  }
  20% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
    /*中间状态 透明度为0.5*/
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    /*结尾状态 透明度为1*/
  }
}
/* 
定义动画属性,此处只需引入需要的属性，不需要的不能引入，否则会报错 
*/
